<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="zenmc.zenmc" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<application android:label="zenmc" android:icon="@drawable/Icon"></application>
  <application android:theme="@android:style/Theme.Holo.Light" />

  <application android:label="MyApp"
             android:theme="@style/MyCustomTheme">
  </application>
</manifest>